<!DOCTYPE html>
<html>
<head>
    <title>Business Login</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <h2>Login to your business dashboard</h2>
        <form method="POST">
            <input type="text" name="name" placeholder="Business Name" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>New here? <a href="{{ url_for('register') }}">Register your business</a></p>
    </div>
    {% endblock %}
</body>
</html>
